# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor / OS
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
Thumbs.db

# Dependencies
node_modules
.pnpm-store

# Build
dist
dist-ssr
*.local
.tsbuildinfo
*.tsbuildinfo

# Vite cache
.vite

# Coverage
coverage
*.lcov

# Lefthook
.lefthook/report.json

# Env
.env
.env.local
.env.*.local
